<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
    <link rel="stylesheet" href="{%url django.views.static.serve 'jquery-ui.css' %}" type="text/css"> 
    <script type="text/javascript" src="{%url django.views.static.serve 'jquery.min.js' %}" > </script>
    <script type="text/javascript" src="{%url django.views.static.serve 'jquery-ui.min.js' %}" > </script>
<link rel="stylesheet" href="{%url django.views.static.serve 'tropical/default.css' %}" type="text/css"> 
</head>
<body>
<div id="logo">
	<h1>SAII</h1>
	<h2>&nbsp;</h2>
</div>
<div id="content">
	<div id="sidebar">
		<div id="menu">
			<ul>
				<li>
					<a href="{%url map.views.listjobsTorque%}" >Jobs</a>
				</li>
				<li>
					<a href="{%url map.views.listres%}" >Reservations</a>
				</li>
				<li>
						<a href="{%url map.views.listnodes%}" >Nodes</a>
				</li>
				<li>
						<a href="{%url map.views.liststats%}" >Reports</a>
				</li>
				<li>
						<a href="{%url map.views.listMyjobs%}" >My jobs</a>
				</li>
				<li>
						<a  href="http://www.saii.ull.es/recursos/computacion/acceso/maui">Documentation</a> 
				</li>
				<li>
						<a  href="{%url map.views.logout%}">Logout</a> 
				</li>
			</ul>
		</div>
	</div>


	<div id="main">

    {% block content %}{% endblock %}

	</div>

</div>
<div id="footer">

            <p>
						{{username}}@{{host}}
			{% for h in otherhosts %}      
        
        <a  href="{%url map.views.changeHost h %}" > {{h}}  </a> 
        
			{% endfor %}
						</p>
            <p>Change layout :
			{% for l in otherlayouts %}      
        
        <a  href="{%url map.views.changeLayout l %}" > {{l}}  </a> 
        
			{% endfor %}
              
						</p>


</div>
</body>
</html>
